

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Subir archivos</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Enviar</button>
    </form>


    <table border="1">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Archivo</th>
                <th>Subido</th>
                <th>Subido</th>
                <th>Subido</th>
                <th>Subido</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>
                        {{ get_media_prefix }}<br>
                        {{ producto.imagen.url }}
                        <img src="{{ producto.imagen.url }}" alt="{{ producto.imagen.url }}">
                     
                </tr>

            {% endfor %}
        </tbody>   
    </table>
</body>
</html>